.company-card {
  width: 930px;
  height: 277px;
  display: flex;
  padding: 16px;
  margin: 16px;
  background-color: #E7EBF9;
  position: relative;
 font-family: 'Montserrat';

}

.company-logo img {
  width: 250px;
  height: 250px;
  background-color: #F5F7FF;
}

.company-details {
  flex: 1;
  padding: 0 16px;
  color: #0A39C5;
}

.company-details h2 {
  margin-top: 0;
}

.contact-info, .extra-info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 6px;
  color: #0A39C5;;
}

.contact-info p, .extra-info p {
  margin: 6px 0;
}

.social-media-icons {
  position: absolute;
  top: 7px;
  right: 16px;
  display: flex;
  gap: 8px;
}

.social-media-icons img {
  width: 24px;
  height: 24px;
}

.company-page-button {
  width: 154px;
  height: 38px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #2958E5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 100px;
}

.apply-button {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: #2958E5;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  height: 309px;
  width: 50px;
}

